<div class="editing-container">
    <form class="editing-form" [formGroup]="editForm" (submit)="editTask()">
        <div class="form-group">
            <label class="titles">Edit Task:</label>
            <textarea formControlName="task"></textarea>
        </div>
        <div class="form-group">
            <label class="titles">Edit Deadline:</label>
            <input type="text" formControlName="deadline">
        </div>
        <input type="submit" value="Edit Task">
        <input type="button" value="Cancel" class="cancel" (click)="cancelEditing()">
    </form>
</div>