/* app-adding */

.adding-form {
    padding: 1em;
}

.adding-form .form-group {
    padding-bottom: 1em;
}

.adding-form .titles {
    display: block;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.adding-form input[type="button"], .adding-form input[type="submit"] {
    margin-top: 1em;
}

.adding-form textarea {
    padding: 0.5em 0.5em;
    font-family: inherit;
    font-size: 110%;
    width: 40vw;
    height: 20vh;
    max-width: 60vw;
    max-height: 30vh;
    background-color: rgba(89, 112, 131, 0.5);
    color: azure;
    border-color: rgb(255, 94, 0);
    border-radius: 0.3em;
}

.adding-form input[type="text"] {
    font-family: inherit;
    font-size: 110%;
    padding: 0 2em;
    width: 12vw;
    height: 5vh;
    background-color: rgba(89, 112, 131, 0.5);
    color: azure;
    border-color: rgb(255, 94, 0);
    border-radius: 0.3em;
}

.adding-form .cancel {
    margin-left: 2em;
}
